<!DOCTYPE html>
<html>
<% include header %>

<% include navbar %>

    <section class="container">
    <% for (let i = 0; i < tabComI.length; i++) {%>
        <div class="card-group articleCard ">
            <div class="card">
                <div class="card-body">
                    
                    <p class="card-text">
                        <%= tabComC[i] %>
                    </p>
                </div>
                <% if(connected){ %>
                    <% if (idUserCom[i] == idUser) { %>
                        <div class="btnModifCom">
                            <button class="btn btn-outline-primary btnCard" type="button" data-toggle="collapse" data-target="#<%= tabComI[i] %>" aria-expanded="false"
                                aria-controls="<% tabComI[i] %>">
                                <img src="/images/modifIcon.svg" alt="modifIcon">
                            </button>
                            <form action="/commentaire/supplink/:<%= tabComI[i]%>" class="formModifCom" method="POST">
                                <button class="btn btn-outline-danger btnCard" type="submit">
                                    <img src="/images/deleteIcon.svg" alt="deleteIcon">
                                </button>
                            </form>
                        </div>
                
                        <% } %>
                            <% } %>
                <div class="card-footer">
                    <small class="text-muted">
                        <%= tabComD[i] %>
                            <%= tabComN[i] %>
                    </small>
                </div>
            </div>
        </div>
        
        <div class="collapse btnModifCom" id="<%= tabComI[i] %>">
        
            <form action="/commentaire/modifierLink/:<%= tabComI[i] %>" method="POST">
                <input type="text" value="<%= tabComC[i] %>" name="commentairem" id="commentairem">
                <button class="btn btn-outline-primary " type="submit"><img src="/images/validIcon.svg" alt="validIcon"></button>
            </form>
        
        
        </div>
        
        

        <% } %>
    </section>
    <% include footer %>
            
    </body>

</html>