<!DOCTYPE html>
<html>
<% include header %>

<% include navbar %>

    <section class="container">
    <% for (let i = 0; i < tabComI.length; i++) {%>
        <div class="card-group articleCard">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <%= tabComC[i] %>
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <%= tabComD[i] %>
                            <%= tabComN[i] %>
                    </small>
                </div>
            </div>
        </div>
        <div class="collapse" id="<%= tabComI[i] %>">
        
            <form action="/commentaire/modifierLink/:<%= tabComI[i] %>" method="POST">
                <textarea class="card card-body" name="commentairem" id="commentaire" cols="13" rows="4"><%= tabComC[i] %></textarea>
                <button class="btn btn-outline-primary" type="submit">Comfirmer</button>
            </form>
        
        
        </div>
        
        <% if(connected){ %>
        <% if (idUserCom[i] == idUser) { %>
            
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#<%= tabComI[i] %>" aria-expanded="false"
                aria-controls="<% tabComI[i] %>">
                Modifier
            </button>
            <form action="/commentaire/supplink/:<%= tabComI[i]%>" method="POST">
                <button class="btn btn-outline-danger" type="submit">Supprimer</button>
            </form>
            <% } %>
            <% } %>

        <% } %>
    </section>
    <% include footer %>
            
    </body>

</html>