<!DOCTYPE html>
<html lang="fr">
<% include header %>
<body>
    <!-- NAVIGATION -->
   <% include navbar %>

    <!-- TITRE -->
    <h1>Modifiez ou Supprimez vos article</h1>

    <section class="container">
        <div class="row">
            <% for (let i = 0; i < tabN.length; i++) {%>
                <div class="col-md-4">
                    <div class="card border-primary mb-3 articleCard" style="max-width: 18rem; max-height: 22rem;">
                        <div class="card-body text-primary">
                            <h5 class="card-title">
                                <%= tabT[i] %>
                            </h5>
                            <p class="card-text">
                                <%= tabC[i] %>
                            </p>
                        </div>
                        <div class="card-header">
                            <%= tabA[i] %>
                        </div>
                        <div class="row">
                            <form action="/article/modification/:<%= tabN[i]%>" method="GET" class="col-md-6">
                            <button type="submit" class="btn btn-outline-success col-md-6 btnCard">
                                Modifier
                            </button>
                            </form>
                            <form action="/article/suppression/:<%= tabN[i]%>" method="GET" class="col-md-6">
                                <button type="submit" class="btn btn-outline-danger col-md-6 btnCard">
                                    Supprimer
                                </button>
                            </form>
                            
                            
                            
                        </div>
                    </div>
                </div>
                
                <% } %>
        </div>
    
    
    </section>
</body>
</html>